:root {
    --bg-color: #fff;
    --main-dark-color: #2E2F42;
    --logo-color: #4D5AE5;
    --team-sec-bg-color: #F4F4FD;
    --second-dark-color: #434455;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-dark-color);
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--main-dark-color);
    font-size: 18px;
    text-transform: uppercase;
    line-height: 21px;

}
.accent {
    color: var(--logo-color);
}

.nav-item {
    color: var(--main-dark-color);
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
    letter-spacing: 0.32px;
}

.contacts {
    color: var(--second-dark-color);
    line-height: 24px;
    letter-spacing: 0.32px;
    font-style: normal;
}

/*hero section*/
.hero {
    background-color: var(--main-dark-color);
    color: var(--bg-color);
}

.hero-title {
    text-align: center;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;
}

.button {
    background-color: var(--logo-color);
    color: var(--bg-color);
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.64px;
    text-transform: capitalize;
}

/*About section*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about-title {
    color: var(--main-dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.about-text {
    color: var(--second-dark-color);
    text-align: left;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/*team section*/
.team-sec {
    background-color: var(--team-sec-bg-color);
}

.team-title {
    color: var(--main-dark-color);
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.member-card {
    background-color: var(--bg-color);
}

.team-member {
    color: var(--main-dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.member-position {
    color: var(--second-dark-color);
    line-height: 24px;
    letter-spacing: 0.32px;
}

/*footer*/

footer {
    background-color: var(--main-dark-color);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    color: var(--bg-color);
    font-size: 18px;
    text-transform: uppercase;
    line-height: 21px;
}

.footer-text {
    color: var(--team-sec-bg-color);
    line-height: 24px;
    letter-spacing: 0.32px;
    text-align: left;
}